@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --header-bg-color: #21222a;
  --main-bg-color: #282d35;
  --title-color: #61dafb;
  --text-color-dark: #f7f7f7;
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 400ms ease;
  --container-width-lg: 90%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --ff: "Poppins";
}

body {
  position: relative;
  font-family: var(--ff);
}

.object-fit {
  object-fit: cover !important;
}

.hero-container {
  background-color: #4db5ff;
}

.hero-image {
  height: 40vh;
}

.grid {
  display: grid;
  grid-template-columns: 70% 30%;
}

.title {
  display: grid;
  grid-template-columns: 80% 10%;
}

.vector {
  display: grid;
  grid-template-columns: 5% 95%;
}

.popup {
  z-index: 99 !important;
  background:#2c2c6c70;
  height: 100vh;
  width: 100%;
}
.popup-grid{
  display: grid;
  grid-template-columns: 50% 50%;
}

.popup-paragraph {
background-color: #EFFFF4;
color: #008A45;
}

.sign-up input {
  border-radius: none !important;
}
@media screen and (max-width: 992px) {
  .location {
    display: none !important;
  }
  .grid {
    display: grid;
    grid-template-columns: 100%;
  }
  .joingroup{
    position: fixed;
    top:80px;
    right: 10px;
    background: none !important;
    z-index: 88;
  }
.header-navbar{
  position: fixed;
  width: 100%;
  z-index: 100;
}
  .headernav {
    position: absolute;
    width: 100%;
    top: 56px;
    left: 0;
    z-index: 100;
    background: #ffffffec;
    height: 100vh;
  }
 .heronav {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 50px;
  left: 0;
  background-color: #61dafb;
  padding: 10px;
 }
}