@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --header-bg-color: #21222a;
  --main-bg-color: #282d35;
  --text-color: #fff;
  --title-color: #61dafb;
  --text-color-dark: #f7f7f7;
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 400ms ease;
  --container-width-lg: 90%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --ff: "Poppins";
}

body {
  font-family: var(--ff);
}

.object-fit {
  object-fit: cover !important;
}

.hero-container {
  background-color: #4db5ff;
}

.hero-image {
  height: 40vh;
}

.grid {
  display: grid;
  grid-template-columns: 70% 30%;
}

.title {
  display: grid;
  grid-template-columns: 80% 10%;
}

.vector {
  display: grid;
  grid-template-columns: 5% 95%;
}

@media screen and (max-width: 900px) {
  .location {
    display: none !important;
  }
  .grid {
    display: grid;
    grid-template-columns: 100%;
  }
}