@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --header-bg-color: #21222a;
  --main-bg-color: #282d35;
  --text-color: #fff;
  --title-color: #61dafb;
  --text-color-dark: #f7f7f7;
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 400ms ease;
  --container-width-lg: 90%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --ff: "Poppins";
}

body {
  font-family: var(--ff);
}